mixin videoBlock(video ={})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            div.videoBlock__main-box
                video.videoBlock__video(src=video.videoFile muted)
                img.videoBlock__thumbnail(src=video.thumbnailFile)
            .videoBlock__sub-box
                .left
                    img.videoBlock__img(src=video.imgFile)
                .right
                    h6.videoBlock__title=video.title
                    h6.videoBlock__creator=`Uploaded by ${video.name}`
                    h6.videoBlock__views=`VIEWS ${video.views} · ${dateFormatter(video.createdAt)}`