mixin commentBlock(comment ={})
    li.comment__block(id=comment.id data-id=comment.id)
        .comment__left
            img.comment__publish-avatar(src=`${comment.creator.avatarUrl}`)
        .comment__right
            .comment__info
                a.comment__writer(href=routes.userDetail(comment.creator.id))
                    span.comment__writer-name=comment.creator.name
                span.comment__createdAt=comment.createdAt
            .comment__content#jsCommentContent
                .comment__text#jsCommentText=comment.text
            .comment__editBox.hidden#jsCommentEditBox(data-id=comment.id)
                form.comment__editForm#jsCommentEditForm
                    .comment__editInput#jsCommentEditInput(contenteditable="true", name="editComment", placeholder="Edit your comment", autocomplete="off", required)=comment.text
                    .editBtnBox
                        button.comment__editCancelBtn#jsCommentEditCancelBtn CANCEL
                        button.comment__editSaveBtn#jsCommentEditSaveBtn SAVE
            .comment__subinfo#jsCommentSubinfo
                span.comment__heart
                    i.fas.fa-heart
                    span.comment__heart-number 0
                span.comment__reply
                    i.fas.fa-reply
                if loggedUser && loggedUser.id === comment.creator.id
                    span.comment__editBtn#jsCommentEdit
                        i.far.fa-edit.editBtn
                    span.comment__deleteBtn#jsCommentDelete
                        i.far.fa-trash-alt.deleteBtn