mixin replyBlock(reply ={})
    if loggedUser && loggedUser.id === reply.creatorId
        li.reply__block-owner(id=reply.id data-id=reply.id)
            .reply__left
                img.reply__publish-avatar(src=`${reply.avatarUrl}`)
            .reply__right
                .reply__info
                    a.reply__writer(href=routes.userDetail(reply.creatorId))
                        span.reply__writer-name=reply.creator
                    span.reply__createdAt=reply.createdAt
                .reply__content#jsReplyContent
                    .reply__text#jsReplyText=reply.text
                .reply__editBox.hidden#jsReplyEditBox(data-id=reply.id)
                    form.reply__editForm#jsReplyEditForm
                        .reply__editInput#jsReplyEditInput(contenteditable="true", name="editReply", placeholder="Edit your reply", autocomplete="off", required)=reply.text
                        .editBtnBox
                            button.reply__editCancelBtn.editCancelBtn#jsReplyEditCancelBtn CANCEL
                            button.reply__editSaveBtn.editSaveBtn#jsReplyEditSaveBtn SAVE
                .reply__subinfo#jsReplySubinfo
                    span.reply__heart
                        if loggedUser && reply.heart.includes(loggedUser.id)
                            i.fas.fa-heart.replyHeartBtn.selected
                        else
                            i.fas.fa-heart.replyHeartBtn
                        span.reply__heart-number#jsReplyHeartNumber=reply.heart.length
                    if loggedUser && loggedUser.id === reply.creatorId
                        span.reply__editBtn#jsReplyEdit
                            i.far.fa-edit.replyEditBtn
                        span.reply__deleteBtn#jsReplyDelete
                            i.far.fa-trash-alt.replyDeleteBtn
    else
        li.reply__block-visitor(id=reply.id data-id=reply.id)
            .reply__left
                img.reply__publish-avatar(src=`${reply.avatarUrl}`)
            .reply__right
                .reply__info
                    a.reply__writer(href=routes.userDetail(reply.creatorId))
                        span.reply__writer-name=reply.creator
                    span.reply__createdAt=reply.createdAt
                .reply__content#jsReplyContent
                    .reply__text#jsReplyText=reply.text
                .reply__editBox.hidden#jsReplyEditBox(data-id=reply.id)
                    form.reply__editForm#jsReplyEditForm
                        .reply__editInput#jsReplyEditInput(contenteditable="true", name="editReply", placeholder="Edit your reply", autocomplete="off", required)=reply.text
                        .editBtnBox
                            button.reply__editCancelBtn.editCancelBtn#jsReplyEditCancelBtn CANCEL
                            button.reply__editSaveBtn.editSaveBtn#jsReplyEditSaveBtn SAVE
                .reply__subinfo#jsReplySubinfo
                    span.reply__heart
                        if loggedUser && reply.heart.includes(loggedUser.id)
                            i.fas.fa-heart.replyHeartBtn.selected
                        else
                            i.fas.fa-heart.replyHeartBtn
                        span.reply__heart-number#jsReplyHeartNumber=reply.heart.length
                    if loggedUser && loggedUser.id === reply.creator.id
                        span.reply__editBtn#jsReplyEdit
                            i.far.fa-edit.replyEditBtn
                        span.reply__deleteBtn#jsReplyDelete
                            i.far.fa-trash-alt.replyDeleteBtn